@import './fonts/fonts.css';

.app * {
  font-family: 'Inter-UI', sans-serif;
}

.read-the-docs {
  color: #888;
  .container {
    max-width: 1010px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    margin-inline: auto;
  }
}
